@import "tailwindcss";
@import "@nuxt/ui";

body {
  font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}